.button {
    border-radius: 5px; /* Округліть кути кнопки на 5 пікселів */
    background: var(
      --Gradient,
      linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
    ); /* Задайте фоновий градієнт для кнопки */
    border: none; /* Видаліть межі кнопки */
  }
  
  .button a {
    text-decoration: none;
    color: #f9fafb;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
  }
  
  .button a:hover {
    color: #cacaca;
  }
  
  /* Стилізувати фонове зображення та шрифт для сторінки */
  body {
    background: url(../img/global__bg.png); /* Задайте фонове зображення для сторінки */
    background-repeat: no-repeat; /* Забороніть повторення фонового зображення */
    background-size: cover; /* Задайте розмір фонового зображення на всю ширину та висоту екрана */
    background-position: center center; /* Задайте положення фонового зображення по центру сторінки */
    font-family: "DM Sans"; /* Задайте шрифт для всього тексту на сторінці */
  }
  
  /* Стилізувати контейнер для розміщення елементів верхнього блоку */
  .container {
    /* Задайте ширину контейнера 1158 пікселів */
    /* Задайте внутрішній відступ зліва 15 пікселів */
    /* Задайте внутрішній відступ справа 15 пікселів */
    /* Задайте автоматичні зовнішні відступи для вирівнювання контейнера по центру */
    outline: 2px solid red; /* Обведення контейнера червоним кольором для виділення */
  }
  
  /* Стилізувати верхній блок сторінки */
  header {
    /* Задайте внутрішній відступ у 24 пікселів зверху та знизу */
  }
  
  /* Стилізувати контейнер елементів верхнього блоку */
  .header-container {
    /* Задайте властивість flex для гнучкого розташування елементів */
    /* Розташуйте елементи верхнього блоку рівномірно */
  }
  
  /* Стилізувати навігаційне меню */
  .header-nav {
    /* Задайте властивість flex для гнучкого розташування елементів */
    /* Розташуйте елементи навігаційного меню по центру */
    /* Задайте проміжок між елементами навігаційного меню 60 пікселів */
  }
  
  /* Стилізувати список елементів верхнього блоку */
  .header-list {
    /* Задайте властивість flex для гнучкого розташування елементів */
    /* Розташуйте елементи верхнього блоку по центру */
    /* Задайте проміжок між елементами верхнього блоку 60 пікселів */
  }
  
  /* Стилізувати елементи списку верхнього блоку */
  .header-item {
    /* Задайте зовнішній відступ для елементів списку верхнього блоку 12 пікселів */
  }
  
  /* Стилізувати посилання верхнього блоку */
  .header-link {
    /* Видаліть підкреслення для посилань верхнього блоку */
    /* Задайте білий колір тексту для посилань верхнього блоку */
    /* Задайте розмір шрифту 14 пікселів для тексту посилань верхнього блоку */
    /* Задайте товщину шрифту 500 для тексту посилань верхнього блоку */
    /* Задайте плавний перехід для анімації тексту посилань верхнього блоку */
  }
  
  /* Змінити колір посилання верхнього блоку при наведенні на нього */
  .header-link:hover {
    /* Змініть колір тексту на фіолетовий при наведенні на посилання верхнього блоку */
  }
  
  /* Стилізувати кнопку верхнього блоку */
  .header-button {
    /* Задайте внутрішній відступ для кнопки верхнього блоку */
    /* Задайте висоту рядка 1.5 */
  }